[id='nav'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 20px;

    ul {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-right: 0.3rem;
        text-decoration: none;
        color: black;
        white-space: nowrap;

        &:hover,
        &:focus {
            text-decoration: underline;
            color: #CBA793;
        }
    }

    li {
        display: flex;
    }
}