[id='card'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px 20px 0 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--primary-color);

    img {
        width: 282px;
        height: 256px;
        border-radius: 20px 20px 0 0;
    }

    figcaption {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    H3 {
        margin:5px;
        color: var(--secondary-color);
    }

    p {
        padding: 10px;
        border: 1px solid black;
        border-radius: 50% 20% / 10% 40%;
        align-self: flex-end;
        font-size: 14px;
    }
}