.modal-carrousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;

    h3 {
        color: var(--secondary-color);
    }

    p {
        text-align: left;
        padding: 10px;
    }

    div {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

.portfolio {
    display: flex;
    padding: 20px;
    padding-top: 0;

    @media (min-width: 768px) {
        flex-direction: row;
    }

    .next {
        position: relative;
        top: 200px;
        right: 38px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border : 1px solid var(--secondary-color);
        background-color: var(--primary-color);

        @media (min-width: 768px) {
            right: 16px;
            width: 50px;
            height: 50px;
        }
    }

    .prev {
        position: relative;
        top: 200px;
        left: 38px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border : 1px solid var(--secondary-color);
        background-color: var(--primary-color);

        @media (min-width: 768px) {
            left: 16px;
            width: 50px;
            height: 50px;
        }
    }
}