.modal-carrousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

    h3 {
        color: var(--secondary-color);
        align-self: center;
    }

    p {
        text-align: justify;
    }
    
    b {
        padding-bottom:10px ;
    }
 
    ul {
      padding-bottom: 30px;
      padding-left: 50px;
      list-style: circle;
    }

    div {
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-self: center;
    }
}

.carrousel {
    display: flex;
    padding: 20px;
    padding-top: 0;

    @media (min-width: 768px) {
        flex-direction: row;
    }

    .carrousel-container {
        display: flex;
        overflow: hidden;
         @media (min-width: 768px) {
            flex-direction: row;
            gap: 20px;
        }

    }

    .next {
        position: relative;
        top: 170px;
        right: -10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid var(--secondary-color);
        background-color: var(--primary-color);
        transition: transform 0.2s ease;
        cursor: pointer;

        &:hover,
        &:focus {
            transform: scale(1.2);
        }

        @media (min-width: 768px) {
            right: -10px;
            width: 50px;
            height: 50px;
        }
    }

    .prev {
        position: relative;
        top: 170px;
        left: -10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid var(--secondary-color);
        background-color: var(--primary-color);
        transition: transform 0.2s ease;
        cursor: pointer;

        &:hover,
        &:focus {
            transform: scale(1.2);
        }

        @media (min-width: 768px) {
            left: -10px;
            width: 50px;
            height: 50px;
        }
    }
}